/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color:rgba(96, 125, 139, 0.9); /* Azul Serenity */
    color: white;
    padding: 10px 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    color: #03f570;
}

.logo {
    font-size: 24px;
}

/* Contenido */
.content {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #5b9bd5;
}

.about-section {
    margin-bottom: 30px;
}

.about-section h3 {
    color: #2a4d2e; /* Verde oscuro para los subtítulos */
}

.about-section p {
    font-size: 1rem;
    line-height: 1.5;
}

.team {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.team-member {
    text-align: center;
    width: 45%;
}

.team-member img {
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.team-member h4 {
    color: #2a4d2e; /* Verde oscuro para nombres */
}

footer {
    background-color: #030202;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}
